In [1]:
import pandas as pd
import numpy as np

In [2]:
dict1 = {
    "name":["John","Emily","Michael","Jessica","David","Ashley","Jacob","Samantha","Ryan","Amanda"],
    "age":[25,32,29,24,21,28,35,31,27,26],
    "gender":["Male","Female","Male","Female","Male","Female","Male","Female","Male","Female"],
    "address":["123 Main St","456 Park Ave","789 Elm St","321 Oak St","654 Cedar Blvd","987 Pine St","246 Birch Rd","369 Maple Ave","159 Cedar St","753 Oak Ave"],
    "phone":["555-555-5555","555-555-5556","555-555-5557","555-555-5558","555-555-5559","555-555-5560","555-555-5561","555-555-5562","555-555-5563","555-555-5564"],
    "email":["john@example.com","emily@example.com","michael@example.com","jessica@example.com","david@example.com","ashley@example.com","jacob@example.com","samantha@example.com","ryan@example.com","amanda@example.com"],
    "education":["Bachelors","Masters","Bachelors","Masters","Associates","PhD","High School","Bachelors","Masters","Associates"],
    "employer":["ABC Inc.","XYZ Corp.","ABC Inc.","XYZ Corp.","Acme Co.","ABC Inc.","XYZ Corp.","Acme Co.","ABC Inc.","XYZ Corp."],
    "job_title":["Developer","Manager","Analyst","Developer","Manager","Analyst","Developer","Manager","Analyst","Developer"],
    "salary":[50000,80000,60000,55000,75000,65000,45000,90000,70000,50000],
    "years_of_experience":[3,5,4,2,6,3,1,8,5,2],
    "skills":["Python","Java","SQL","C++","JavaScript","C#","Python","Java","SQL","C++"],
    "certifications":["AWS","PMP","CCNA","MCSA","CCNP","CEH","AWS","PMP","CCNA","MCSA"],
    "hobbies":["Biking","Hiking","Reading","Traveling","Gardening","Fitness","Photography","Cooking","Painting","Music"],
    "languages":["English","Spanish","French","German","Mandarin","Italian","Portuguese","Russian","Arabic","Japanese"],
    "marital_status":["Single","Married","Divorced","Single","Married","Divorced","Single","Married","Divorced","Single"],
    "children":[0,2,1,0,3,1,0,1,2,0],
    "pets":["Dog","Cat","Fish","Dog","Cat","Fish","Dog","Cat","Fish","Dog"]
}

In [3]:
df=pd.DataFrame(dict1)

In [4]:
df.to_csv("family.csv",index=False)

In [5]:
manish=pd.read_csv("manish.csv")

In [6]:
manish

       name  age  gender         address         phone                 email
0      John   25    Male     123 Main St  555-555-5555      john@example.com
1     Emily   32  Female    456 Park Ave  555-555-5556     emily@example.com
2   Michael   29    Male      789 Elm St  555-555-5557   michael@example.com
3   Jessica   24  Female      321 Oak St  555-555-5558   jessica@example.com
4     David   21    Male  654 Cedar Blvd  555-555-5559     david@example.com
5    Ashley   28  Female     987 Pine St  555-555-5560    ashley@example.com
6     Jacob   35    Male    246 Birch Rd  555-555-5561     jacob@example.com
7  Samantha   31  Female   369 Maple Ave  555-555-5562  samantha@example.com
8      Ryan   27    Male    159 Cedar St  555-555-5563      ryan@example.com
9    Amanda   26  Female     753 Oak Ave  555-555-5564    amanda@example.com

In [7]:
manish.gender[3]

'Female'

In [8]:
manish[manish.name=="Ryan"]

   name  age gender       address         phone             email
8  Ryan   27   Male  159 Cedar St  555-555-5563  ryan@example.com